In [6]:
l=[filter(x=lambda x: True if x%2==0,x*x for x in range(1,100))]

SyntaxError: invalid syntax (<ipython-input-6-a308030fad08>, line 1)

In [4]:
l

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801]

In [12]:
def iseven(num):
    return(num%2==0)
def sq(num):
    return num*num

In [15]:
l=list(map(sq,list(filter(iseven,range(0,100)))))

In [16]:
l

[0,
 4,
 16,
 36,
 64,
 100,
 144,
 196,
 256,
 324,
 400,
 484,
 576,
 676,
 784,
 900,
 1024,
 1156,
 1296,
 1444,
 1600,
 1764,
 1936,
 2116,
 2304,
 2500,
 2704,
 2916,
 3136,
 3364,
 3600,
 3844,
 4096,
 4356,
 4624,
 4900,
 5184,
 5476,
 5776,
 6084,
 6400,
 6724,
 7056,
 7396,
 7744,
 8100,
 8464,
 8836,
 9216,
 9604]

In [30]:
l=[]
for i in range(1,100):
    for j in range(i,100):
        for k in range(j,100):
            if i*i+j*j==k*k :
                l.append([i,j,k])

In [31]:
l

[[3, 4, 5],
 [5, 12, 13],
 [6, 8, 10],
 [7, 24, 25],
 [8, 15, 17],
 [9, 12, 15],
 [9, 40, 41],
 [10, 24, 26],
 [11, 60, 61],
 [12, 16, 20],
 [12, 35, 37],
 [13, 84, 85],
 [14, 48, 50],
 [15, 20, 25],
 [15, 36, 39],
 [16, 30, 34],
 [16, 63, 65],
 [18, 24, 30],
 [18, 80, 82],
 [20, 21, 29],
 [20, 48, 52],
 [21, 28, 35],
 [21, 72, 75],
 [24, 32, 40],
 [24, 45, 51],
 [24, 70, 74],
 [25, 60, 65],
 [27, 36, 45],
 [28, 45, 53],
 [30, 40, 50],
 [30, 72, 78],
 [32, 60, 68],
 [33, 44, 55],
 [33, 56, 65],
 [35, 84, 91],
 [36, 48, 60],
 [36, 77, 85],
 [39, 52, 65],
 [39, 80, 89],
 [40, 42, 58],
 [40, 75, 85],
 [42, 56, 70],
 [45, 60, 75],
 [48, 55, 73],
 [48, 64, 80],
 [51, 68, 85],
 [54, 72, 90],
 [57, 76, 95],
 [60, 63, 87],
 [65, 72, 97]]

In [25]:
l=[i for i in range(1,100)]

In [29]:
l

[[3, 4, 5],
 [4, 3, 5],
 [5, 12, 13],
 [6, 8, 10],
 [7, 24, 25],
 [8, 6, 10],
 [8, 15, 17],
 [9, 12, 15],
 [9, 40, 41],
 [10, 24, 26],
 [11, 60, 61],
 [12, 5, 13],
 [12, 9, 15],
 [12, 16, 20],
 [12, 35, 37],
 [13, 84, 85],
 [14, 48, 50],
 [15, 8, 17],
 [15, 20, 25],
 [15, 36, 39],
 [16, 12, 20],
 [16, 30, 34],
 [16, 63, 65],
 [18, 24, 30],
 [18, 80, 82],
 [20, 15, 25],
 [20, 21, 29],
 [20, 48, 52],
 [21, 20, 29],
 [21, 28, 35],
 [21, 72, 75],
 [24, 7, 25],
 [24, 10, 26],
 [24, 18, 30],
 [24, 32, 40],
 [24, 45, 51],
 [24, 70, 74],
 [25, 60, 65],
 [27, 36, 45],
 [28, 21, 35],
 [28, 45, 53],
 [30, 16, 34],
 [30, 40, 50],
 [30, 72, 78],
 [32, 24, 40],
 [32, 60, 68],
 [33, 44, 55],
 [33, 56, 65],
 [35, 12, 37],
 [35, 84, 91],
 [36, 15, 39],
 [36, 27, 45],
 [36, 48, 60],
 [36, 77, 85],
 [39, 52, 65],
 [39, 80, 89],
 [40, 9, 41],
 [40, 30, 50],
 [40, 42, 58],
 [40, 75, 85],
 [42, 40, 58],
 [42, 56, 70],
 [44, 33, 55],
 [45, 24, 51],
 [45, 28, 53],
 [45, 60, 75],
 [48, 14, 50],
 [48, 20, 52],
 [48, 36, 60],
 [48, 55, 73],
 [48, 64, 80],
 [51, 68, 85],
 [52, 39, 65],
 [54, 72, 90],
 [55, 48, 73],
 [56, 33, 65],
 [56, 42, 70],
 [57, 76, 95],
 [60, 11, 61],
 [60, 25, 65],
 [60, 32, 68],
 [60, 45, 75],
 [60, 63, 87],
 [63, 16, 65],
 [63, 60, 87],
 [64, 48, 80],
 [65, 72, 97],
 [68, 51, 85],
 [70, 24, 74],
 [72, 21, 75],
 [72, 30, 78],
 [72, 54, 90],
 [72, 65, 97],
 [75, 40, 85],
 [76, 57, 95],
 [77, 36, 85],
 [80, 18, 82],
 [80, 39, 89],
 [84, 13, 85],
 [84, 35, 91]]

In [ ]:
l1=list(filter(lambda x,y,z:True if i*i+j*j==k*k ))

In [33]:
x=[[0 for i in range(3)]for j in range(4)]

In [6]:
d={1:2,3:4,1:3,5:6,7:8,9:10}

In [12]:
x=set(*d)

TypeError: set expected at most 1 arguments, got 5

SyntaxError: can't use starred expression here (<ipython-input-11-393fc88178b2>, line 2)

In [32]:
l=[(1,2),(1,4),(1,0),(2,3),(3,7),(3,4),(2,7),(3,1)]
l1=[]
for i in range(len(l)):
    for j in range(len(l)):
        if l[i][1]==l[j][0]:
            if (l[i][0],l[j][1]) not in l:
                l.append((l[i][0],l[j][1]))
                l1.append((l[i][0],l[j][1]))
d={}
for i in range(len(l)):
    if l[i][0] in d:
        d[l[i][0]].append(l[i][1])
    else:
        d[l[i][0]]=[l[i][1]]

In [33]:
d

{1: [2, 4, 0, 3, 7], 2: [3, 7, 4, 1], 3: [7, 4, 1, 2, 0, 3]}

In [34]:
l1

[(1, 3), (1, 7), (2, 4), (2, 1), (3, 2), (3, 0), (3, 3)]

In [7]:
l1=[[[1,2,3],[4,5,6]],[[7,8,9],[1,2,3]]]
l2=[[[5,4,3],[2,1,8]],[[1,4,6],[4,5,6]]]
r=[]
for row1 in range(2):
    r1=[]
    for inner_row in range(2):
        t=[]
        for col in range(3):
            x=l1[row1][inner_row][col]+l2[row1][inner_row][col]
            t.append(x)
        r1.append(t)
    r.append(r1)
r

[[[6, 6, 6], [6, 6, 14]], [[8, 12, 15], [5, 7, 9]]]

[[[6, 6, 6], [6, 6, 14]], [[8, 12, 15], [5, 7, 9]]]