# for loop

for loops works on sequence and convert it into a iterator<br>
i.e. we can say it converts horizontal container to vertical container<br>
we can traverse one by one<br>
sequence:-string,list,tuple,dictionary,sets,generator,iterator<br>
Stop iteration exception take place<br>

In [1]:
s='hello world'
for x in s:
    print(x)

h
e
l
l
o

w
o
r
l
d

In [2]:
l=['hello','hi',1,2,3,4,5,6,[1,2,3,4,6],1,2,3]
for x in l:
    print(x)

hello
hi
1
2
3
4
5
6
[1, 2, 3, 4, 6]
1
2
3

In [5]:
#table

n=int(input("Enter a no:"))
l=[1,2,3,4,5,6,7,8,9,10]
for i in l:
    print("{} * {} = {}".format(n,i,n*i))

Enter a no:4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [7]:
d={
    
    'name':'python',
    'version':3.6,
    'father':'Guido van rossum',
    'named on':'monty python',
    'method':'OOPS',
    'type':'interpreted',
    'year':1991
}
for var in d:
    print(var,":",d[var])

name : python
version : 3.6
father : Guido van rossum
named on : monty python
method : OOPS
type : interpreted
year : 1991

In [10]:
s={'hello','hi',1,2,3,4,5,6,'good','bye bye'}
for i in s:
    print(i)

1
2
3
4
5
6
good
hello
bye bye
hi

In [12]:
l=[(1,2,3),('hello','hi','df'),('bye','bye','see u'),('hello','world','!!'),('python','java','c'),'c++',[1,2,3]]
for i,j,k in l:
    print(i,j,k)

1 2 3
hello hi df
bye bye see u
hello world !!
python java c
c + +
1 2 3

In [15]:
d={
    
    'name':'python',
    'version':3.6,
    'father':'Guido van rossum',
    'named on':'monty python',
    'method':'OOPS',
    'type':'interpreted',
    'year':1991
}
for i,j in d.items():
    print("{} : {}".format(i,j))

name:python
version:3.6
father:Guido van rossum
named on:monty python
method:OOPS
type:interpreted
year:1991

In [19]:
l=[1,2,3,4,5,6,7,8,9,10]
l2=['a','b','c','d','e','f','g','h','i','j']
for i,j in zip(l,l2):
    print("{}:{}".format(i,j))

1:a
2:b
3:c
4:d
5:e
6:f
7:g
8:h
9:i
10:j

In [32]:
x,y=input("Enter keys:").strip().split(","),input("Enter values:").strip().split(",")
d=dict(zip(x,y))
print(d)

Enter keys:a,b,s,d
Enter values:1,2,3,4
{'a': '1', 'b': '2', 's': '3', 'd': '4'}

In [39]:
for i  in range(1000,0,-1):
    if i%2==0 and i%3==0 and i%5==0:
        print(i,end="     ")

990     960     930     900     870     840     810     780     750     720     690     660     630     600     570     540     510     480     450     420     390     360     330     300     270     240     210     180     150     120     90     60     30

In [63]:
l=[8,7,6,5,4,3,2,1,9,10,11,12,13,13,34]
length=0
for i in l:
    length+=1
for i in range(0,length):
    m=i
    for j in range(i,length):
        if l[m]>l[j]:
            m=j
    l[i],l[m]=l[m],l[i]
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 13, 34]

In [67]:
n=int(input("Enter size:"))
for i in range(n,0,-1):
    for j in range(n,i,-1):
        print(j,end=" ")
    for j in range(n-i,(2*n-(n-i+1))):
          print(i,end=" ")
    for j in range(i+1,n+1):
        print(j,end=" ")
    print()
for i in range(2,n+1):
    for j in range(n,i,-1):
        print(j,end=" ")   
    for j in range(2,i+2):
        print(i,end=" ")
    for j in range(0,i-2):
        if i>2:
            print(i,end=" ")
    for j in range(i,n+1):
        print(j,end=" ")
    print();

Enter size:9
9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9
9 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 9
9 8 7 7 7 7 7 7 7 7 7 7 7 7 7 8 9
9 8 7 6 6 6 6 6 6 6 6 6 6 6 7 8 9
9 8 7 6 5 5 5 5 5 5 5 5 5 6 7 8 9
9 8 7 6 5 4 4 4 4 4 4 4 5 6 7 8 9
9 8 7 6 5 4 3 3 3 3 3 4 5 6 7 8 9
9 8 7 6 5 4 3 2 2 2 3 4 5 6 7 8 9
9 8 7 6 5 4 3 2 1 2 3 4 5 6 7 8 9
9 8 7 6 5 4 3 2 2 2 3 4 5 6 7 8 9
9 8 7 6 5 4 3 3 3 3 3 4 5 6 7 8 9
9 8 7 6 5 4 4 4 4 4 4 4 5 6 7 8 9
9 8 7 6 5 5 5 5 5 5 5 5 5 6 7 8 9
9 8 7 6 6 6 6 6 6 6 6 6 6 6 7 8 9
9 8 7 7 7 7 7 7 7 7 7 7 7 7 7 8 9
9 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 9
9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9